<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>..:: Login ::..</title>
<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/Google-Style-Login.css" />
</head>
<body>
	<div class="login-card"><img src="/img/avatar_2x.png" class="profile-img-card" />
		<p class="profile-name-card"></p>
		<form class="form-signin" th:action="@{/login}" method="POST">
			<span class="reauth-email"> </span> 
			<input class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail" autofocus="autofocus" name="email" />
			<input class="form-control" type="password" required="" placeholder="Password" id="inputPassword"  />
			<div class="checkbox">
				<div class="checkbox"><label> <input type="checkbox" />Remember me
				</label></div>
			</div>
			<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
		</form> <a href="#" class="forgot-password">Forgot your password?</a></div>
	<!-- jQuery -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Metis Menu Plugin JavaScript -->
	<script src="vendor/metisMenu/metisMenu.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="dist/js/sb-admin-2.js"></script>
</body>
</html>